<div class="menu">
    <div class="bg">
        <img src="https://joeschmoe.io/api/v1/random" alt="" class="avatar">
        <h4>Admin</h4>
    </div>
    <div style="padding: 20px;">
        <a class="nav" href="/admin">
            <i class="fal fa-home me-3"></i>
            <p>Trang chủ</p>
        </a>
        <a class="nav" href="/admin/add">
            <i class="fal fa-plus me-3"></i>
            <p>Thêm</p>
        </a>
        <a class="nav" href="/admin/information">
            <i class="fal fa-user me-3"></i>
            <p>Thông tin cá nhân</p>
        </a>
        <a class="nav" href="/admin/information">
            <i class="fal fa-lock me-3"></i>
            <p>Đổi mật khẩu</p>
        </a>
        <a class="nav" href="/logout">
            <i class="fal fa-sign-out me-3"></i>
            <p>Đăng xuất</p>
        </a>
    </div>
</div>