<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/header'); %>
        <link rel="stylesheet" href="/css/admin.css">
        <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('layouts/menu-bar'); %>
            <div class="col-auto">
                <form class="form" action="/project/add-stream" method="post" id="forms" enctype='multipart/form-data'>
                    <h3 class="mb-3">Thêm dự án mới</h3>
                    <div class="mb-3">
                        <label for="name" class="form-label"><i class="fal fa-signal-stream me-2"></i>Livestream</label>
                        <input name="name" type="text" class="form-control" id="name" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label"><i class="fal fa-image me-2"></i>Hình ảnh</label>
                        <input name="thumb" class="form-control form-control-sm" id="formFileSm" type="file">
                      </div>
                    <div class="mb-3">
                        <label for="name" class="form-label"><i class="fal fa-link me-2"></i>Link</label>
                        <input name="facebookUrl" type="text" class="form-control" id="name" placeholder="Link stream">
                    </div>
                    <button class="btn btn-danger w-100" type="submit">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('form').addEventListener('submit', (e) => {
        e.preventDefault()
    })
</script>

</html>