<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/header'); %>
        <link rel="stylesheet" href="/css/admin.css">
        <title>Edit profile</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('layouts/menu-bar'); %>
                <div class="col-auto">
                    <form class="form row" id="form" action="/admin/password" method="POST" enctype="application/json">
                        <div class="mb-3 col-12 relative">
                            <label for="email" class="form-label">Mật khẩu cũ</label>
                            <input required placeholder="Nhập mật khẩu cũ" name="password" type="password"
                                class="form-control" id="password">
                            <span onclick="togglePassword('password')" class="show-password"><i id="eye-password"
                                    class="fal fa-eye-slash"></i></span>
                        </div>
                        <div class="error-password"></div>
                        <div class="mb-3 col-12 relative">
                            <label for="phone" class="form-label">Mật khẩu mới</label>
                            <input name="newPassword" placeholder="********" type="password" class="form-control"
                                id="newPassword">
                            <span onclick="togglePassword('newPassword')" class="show-password"><i id="eye-newPassword"
                                    class="fal fa-eye-slash"></i></span>
                        </div>
                        <div class="error-new-password"></div>
                        <div class="mb-3 col-12 relative">
                            <label for="zalo" class="form-label">Xác nhận mật khẩu mới</label>
                            <input name="confirm" placeholder="********" type="password" class="form-control"
                                id="confirm">
                            <span onclick="togglePassword('confirm')" class="show-password"><i id="eye-confirm"
                                    class="fal fa-eye-slash"></i></span>
                        </div>
                        <div class="error-show"></div>
                        <div class="col-12">
                            <button id="submit" disabled type="submit" class="btn btn-danger w-100">Xác nhận</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(() => {
        let isPasswordValid = false;
        let isNewPasswordValid = false;
        let isConfirmValid = false
        const regex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{6,}$/
        $('#form').on('submit', function (e) {
            e.preventDefault()
            const data = {
                password: $('#password').val(),
                newPassword: $('#newPassword').val()
            }
            fetch('/admin/password', { method: 'POST', body: JSON.stringify(data) })
                .then((res) => {
                    console.log(res)
                })
        })
        $('#confirm').on('input', function () {
            const password = $('#password').val()
            const confirm = $('#confirm').val()
            const newPassword = $('#newPassword').val()
            if (!regex.test(confirm)) {
                isConfirmValid = false
                isNewPasswordValid = false
                $('.error-show').html('<p><i class="fal fa-exclamation-circle me-2"></i>Mật khẩu phải chứa 1 ký tự viết hoa, 1 ký tự viết thường, 1 ký tự đặc biệt và có độ dài lớn hơn 6</p>')
                $('#submit').prop('disabled', true)
            } else {
                if (confirm !== newPassword) {
                    isConfirmValid = false
                    isNewPasswordValid = false
                    $('.error-show').html('<p><i class="fal fa-exclamation-circle me-2"></i>Mật khẩu không khớp</p>')
                    $('#submit').prop('disabled', true)
                } else {
                    isConfirmValid = true
                    isNewPasswordValid = true
                    $('.error-show').html('')
                }
            }
        })
        $('#newPassword').on('input', function () {
            const password = $('#password').val()
            const confirm = $('#confirm').val()
            const newPassword = $('#newPassword').val()
            if (!regex.test(newPassword)) {
                isConfirmValid = false
                isNewPasswordValid = false
                $('.error-new-password').html('<p><i class="fal fa-exclamation-circle me-2"></i>Mật khẩu phải chứa 1 ký tự viết hoa, 1 ký tự viết thường, 1 ký tự đặc biệt và có độ dài lớn hơn 6</p>')
                $('#submit').prop('disabled', true)
            } else {
                $('.error-new-password').html('')
                if (newPassword !== confirm) {
                    isConfirmValid = false
                    isNewPasswordValid = false
                    $('.error-show').html('<p><i class="fal fa-exclamation-circle me-2"></i>Mật khẩu không khớp</p>')
                    $('#submit').prop('disabled', true)
                } else {
                    isConfirmValid = true
                    isNewPasswordValid = true
                }
            }
        })
        $('#password').on('input', function () {
            if (regex.test($(this).val())) {
                $('.error-password').html('')
                isPasswordValid = true
            } else {
                isPasswordValid = false
                $('.error-password').html('<p><i class="fal fa-exclamation-circle me-2"></i>Mật khẩu phải chứa 1 ký tự viết hoa, 1 ký tự viết thường, 1 ký tự đặc biệt và có độ dài lớn hơn 6</p>')
            }
        })
        $('input').on('input', function () {
            if (isPasswordValid && isConfirmValid && isNewPasswordValid) {
                $('#submit').prop('disabled', false)
            } else {
                $('#submit').prop('disabled', true)
            }
        })

    })
    const togglePassword = (id) => {
        if ($('#' + id).attr('type') === 'text') {
            $('#' + id).attr('type', 'password')
            $('#eye-' + id).removeClass('fa-eye')
            $('#eye-' + id).addClass('fa-eye-slash')
        } else {
            $('#' + id).attr('type', 'text')
            $('#eye-' + id).removeClass('fa-eye-slash')
            $('#eye-' + id).addClass('fa-eye')
        }
    }
</script>

</html>