<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('layouts/header'); %>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <div class="flex-mid flex-column auth">
                    <form id="form" class="w-100" method="POST" action="/admin/login">
                        <h1 class="text-center mb-5 mt-3">Đăng nhập</h1>
                        <div class="mb-3 mt-3">
                            <label for="username" class="form-label" style="color: silver;">Username</label>
                            <input type="text" class="form-control" id="username"
                                aria-describedby="emailHelp" placeholder="Nhập tên đăng nhập" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label" style="color: silver;">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password" required>
                        </div>
                        <% if(msg) { %>
                            <div class="alert alert-warning" role="alert">
                                <%= msg %>
                            </div>
                        <% } %>
                        <button type="submit" class="btn btn-danger w-100 mt-3" style="height: 45px;">Đăng nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('form').addEventListener('submit', (e) => {
        e.preventDefault()
        const fc = document.querySelectorAll('.form-control')
        console.log(fc);
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value
        fc.forEach(e => {
            console.log(e.name);
        })
        fetch('/admin/login', {
            method: 'POST',
            body: JSON.stringify({
                username,
                password,
            }),
            headers: {
      'Content-Type': 'application/json'
    }
        }).then((res) => {
            console.log(res);
            if(res.status === 400) {
                alert('Sai tài khoản hoặc mật khẩu')
            } else {
                window.location.href='/admin'
            }
        })
    })

</script>
</html>