.menu {
    min-height: 100vh;
    /* background: #222020; */
}
.nav {
    display: flex;
    align-items: center;
    background: rgb(24, 22, 22);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
.bg {
    padding: 30px 0;
    /* background: #0F2027; 
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); 
     */
     background: #8E0E00;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
     
}
.avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
}
h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.nav i {
    color: white;
}
.nav p {
    margin-bottom: 0;
}
.thumb {
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 8px;
}
.form {
    background-color: #222020;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.form label {
    color: white;
    font-size: 17px;
    margin-top: 10px;
}
.form input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    color: white !important;
    background-color: #000;
    border: 1px solid rgb(73, 70, 70);
}
.form input:focus {
    background-color: #222020;
}
.form .form-select-lg {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
    color: white;
    border: 1px solid rgb(73, 70, 70);
    font-size: 17px;

}
.btn-delete {
    background-color: #ad6800;
    color: white;
    font-size: 17px;
    border-radius: 6px;
    border: 0;
    padding: 5px 12px;
}
.btn-edit {
    background-color: transparent;
    color: white;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #52c41a;
    color: #52c41a;
    padding: 5px 12px;
}
.btn-edit:hover {
    background-color: #52c41a;
    color: white;
}
table {
    margin: 0 auto;
    margin-top: 100px;
}
.btn-group {
    
}
/* .project h4 {
    float: left;
} */