.left-content{
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-content img{
    height: 200px;
    width: auto;
}
.left-content h4{
    text-align: center;
    margin: 20px 0;
}
.home .title{
    padding: 20px;
    position: relative;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.home .title::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    height: 3px;
    width: 80px;
    background-color: #fff;
}
i.icon{
    color: white;
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    border-radius: 3px;
    transition: 0.4s;
}
.modal-mid {
    top: 50px;
}
.modal-long {
    max-width: 1000px;
}
i.icon:hover {
    background-color: #cf1322;
}
.work {
    overflow: hidden;
}
.work-image {
    transition: 0.5s;
    filter: brightness(90%);
}
.work-image:hover {
    transform: scale(1.1);
    filter: brightness(100%);
}
.card{
    border-style: none;
    margin: 10px 0;
}
.card.service i{
    margin: 0 auto;
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 30px 10px 10px 10px;
}
.card-image{
    height: 250px;
    cursor: pointer;
}
.btn-view-all{
    background-color: black;
    border: 1px solid white;
    padding: 15px 80px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    text-transform: uppercase;
}
.card.project{
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
    background-color: rgb(24, 22, 22);
}
.card.card.project:hover{
    transform: translateY(-10px);
}
