.left-content{
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-content img{
    height: 200px;
    width: auto;
}
.left-content h4{
    text-align: center;
    margin: 20px 0;
}
.home .title{
    padding: 20px;
    position: relative;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.home .title::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    height: 3px;
    width: 80px;
    background-color: #fff;
}
i.icon{
    color: white;
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    border-radius: 3px;
    transition: 0.4s;
}

.modal-long {
    max-width: 900px;
}
i.icon:hover {
    background-color: #cf1322;
}
.work {
    overflow: hidden;
}
.work-image {
    transition: 0.5s;
    filter: brightness(90%);
}
.work-image:hover {
    transform: scale(1.1);
    filter: brightness(100%);
}
.card{
    border-style: none;
}
.card.service i{
    margin: 0 auto;
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 30px 10px 10px 10px;
}
.card-image{
    height: 250px;
    cursor: pointer;
    border-radius: 6px;
}
.btn-view-all{
    background-color: black;
    border: 1px solid white;
    padding: 15px 80px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    text-transform: uppercase;
}
.card.project{
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(24, 22, 22);
}
.card.project .card-body {
    padding-top: 0;
}
.main-grid {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.project-name {
    color: white;
    text-decoration: none;
}
.project-name:hover {
    color: white;
}
.card.project .card-image {
    height: 150px;
    width: 150px;
}
.card.card.project:hover{
    transform: translateY(-10px);
}
@media screen and (max-width: 600px) {
    .card-image.work-image {
        height: 250px;
    }
}

/* ------ Swiper -------*/
.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 50px !important;
    transform: translateY(60px) !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 8px;
    height: 250px;

  }
  .swiper-pagination-bullet {
    background-color: #fff !important;
    width: 12px !important;
    height: 12px !important;
  }